*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

/* All Properties */
.all-center{
    text-align: center;
}
a{
    text-decoration: none;
}

/* HEADER SECTION */
header{
    /* border: 2px solid red; */
    /* position: fixed; */
    background-color: #dadada;
    box-shadow: 10px 0px 8px #646262;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 13vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    position: sticky;
}
/* Logo */
header #main-logo{
    /* border: 2px solid blue; */
    height: 10vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
header #main-logo #logo{
    /* border: 2px solid blue; */
    margin: 1vh;
    height: 9vh;
    width: 20vw;
}
/* Navigation Bar */
nav{

    /* border: 2px solid green; */
    /* margin: 0px 20px 0px 50px; */
    height: 10vh;
    width: 50vw;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    box-sizing: border-box;
}
header nav ul{
    background-image: linear-gradient(173deg, #1c0099, #000000d0);
    /* border: 2px solid rgb(3, 3, 3); */
    box-shadow: -4px -4px 4px #4f4f50;
    height: 10vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 40px;
}
header nav ul li{
    font-family: 'PT Serif', serif;
    font-size: 20px;
    list-style: none;
    padding: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
header nav ul li a:hover{
    padding: 4px;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
}
/* Get My Work Section */
header #getmywork{
    /* border: 2px solid blue; */
    height: 10vh;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
header #getmywork .ytghhn{
    /* border: 2px solid blue; */
    height: 4vh;
    width: 2vw;
}
header #getmywork .ytghhn:hover{
    height: 4.4vh;
    width: 2.2vw;
}

/* Main */
#middle-2{
    /* border: 2px solid green; */
    height: 340vh;
    width: 100vw;
    background: #1d061a;
    /* margin-top: vh; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap; */
    /* display: block; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 14vh auto 10vh;
    grid-gap: 100px;
    
    
}
/* .demo-projects{
    
} */
.item{
    /* height: 20vh;
    width: 100vw; */
    /* background-color: aquamarine; */
    /* border: 2px solid red; */
}
#myprojects{
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Headland One', serif;
    grid-column: 1/4;
    margin-top: 8vh;
    pointer-events: none;
}

/* Container */
.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    grid-column: 1/4;
}
.projects .project-box{
    position: relative;
    height: 80vh;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 30px;
    transition: 0.5s;
    grid-column: 1/4;
}
.projects .project-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
.projects .project-box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(35px);
    transition: 0.5s;

}
.projects .project-box:hover:before,
.projects .project-box:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 50px);
}
.projects .project-box:nth-child(1):before,
.projects .project-box:nth-child(1):after{
    background: linear-gradient(315deg, #ff7b00, #ff0058);
}
.projects .project-box:nth-child(2):before,
.projects .project-box:nth-child(2):after{
    background: linear-gradient(315deg, #0066ff, #ff7b00);
}
.projects .project-box:nth-child(3):before,
.projects .project-box:nth-child(3):after{
    background: linear-gradient(315deg, #4dff03, #0066ff);
}
.projects .project-box:nth-child(4):before,
.projects .project-box:nth-child(4):after{
    background: linear-gradient(315deg, #ff7b00, #ff0058);
}
.projects .project-box:nth-child(5):before,
.projects .project-box:nth-child(5):after{
    background: linear-gradient(315deg, #b700ff, #2bff00);
}
.projects .project-box:nth-child(6):before,
.projects .project-box:nth-child(6):after{
    background: linear-gradient(315deg, #09ff00, #ff0000);
}
.projects .project-box:nth-child(7):before,
.projects .project-box:nth-child(7):after{
    background: linear-gradient(315deg, #00ffff, #ff0000);
}
.projects .project-box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.projects .project-box span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.projects .project-box:hover span::before{
    top: -50px;
    left: 50px;
    width: 30%;
    height: 30%;
    opacity: 1;
}
.projects .project-box span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -1s;
}
.projects .project-box:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 30%;
    height: 30%;
    opacity: 1; 
}
@keyframes animate{
    0%, 100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.projects .project-box .projectcon{
    /* display: none; */
    position: relative;
    z-index: 1;
    height: 60vh;
    width: 25vw;
    padding: 20px 40px;
    background: rgba(160, 150, 150, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transform: 0.5s;
    color: #ffffff;
    text-align: center;
}
.projects .project-box:hover .projectcon{
    left: -25;
    padding: 25px 40px;
}
.projects .project-box h3{
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
    pointer-events: none;
}
.projects .project-box p{
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    line-height: 2em;
    padding: 45px 50px 0px 50px;
    pointer-events: none;
}
.projects .project-box a{
    display: inline-block;
    font-size: 1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 15px;
}
#project1{
    /* background-color: purple; */
}
#project2{
    /* background-color: blue; */
}
#project3{
    /* background-color: skyblue; */
}
#project4{
    /* background-color: green; */
}
#project5{
    /* background-color: yellow; */
}
#project6{
    /* background-color: pink; */
}
#project7{
    /* background-color: red; */
}

